In [1]:
import pandas as pd
import numpy as np

In [2]:
dict1 = {
    "names": ["Kausthubh", "Pragnay", "Nageshwara", "Renuka"],
    "age": [18, 16, 51, 46],
    "city": ['Hyderabad', 'Bangalore', 'Jaipur', 'Bombay']
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

        names  age       city
0   Kausthubh   18  Hyderabad
1     Pragnay   16  Bangalore
2  Nageshwara   51     Jaipur
3      Renuka   46     Bombay

In [7]:
df.to_csv('Names.csv', index=False)

In [12]:
print(df.head(2))
print('\n')
print(df.tail(2))

       names  age       city
0  Kausthubh   18  Hyderabad
1    Pragnay   16  Bangalore


        names  age    city
2  Nageshwara   51  Jaipur
3      Renuka   46  Bombay

In [13]:
df.describe() #Gives us the statistical Analysis of the data.

             age
count   4.000000
mean   32.750000
std    18.318934
min    16.000000
25%    17.500000
50%    32.000000
75%    47.250000
max    51.000000